{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>

	{% if not listings %}
		There are no listings.
	{% endif %}
    {% for listing in listings %}
		
		{% if listing.0.active %}
			<div class = "container listing">
				<div class = "row">
					<div class = "col-6">
						<a href="{% url 'listing' listing.0.id %}"><h4>{{ listing.0.title }}</h4></a>
						<p>{{ listing.0.description }}</p>
						<b>Current Price:</b> ${{ listing.2 }}
						{% if listing.0.category %}
							<br>Category: {{ listing.0.category }}
						{% endif %}
						<br>Listed by <b>{{ listing.1.user.username }}</b>
					</div>
					<div class = "col-3">
						{% if listing.0.image %}
							<br><img src="{{ listing.0.image }}" width = 200%>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
		
	{% endfor %}
{% endblock %}