{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{ listing.title }}</h1>

{% if error_message %}
	<strong>{{ error_message}}</strong>
{% endif %}

<p>
{% if not listing.active %} 
	<h2>Listing is closed.</h2>
	No more bids can be placed on it.
	{% if user == max_bid_user %}
		<strong>Your bid of ${{ max_bid }} has won the auction!</strong>
	{% endif %}
{% endif %}
</p>

{% if listing.image %}
	<img width=50% src = "{{ listing.image }}" style="text-align: center;"><br>
{% endif %}
<h4>${{ current_price }}</h4>
<h5>Details:</h5>
<ul>
	<li>Listed by <b>{{ owner.user.username }}</b><br></li>
	<li>Current Price: ${{ current_price }}</li>
	<li>Starting bid: ${{ listing.starting_bid }}</li>
	<li>
		{% if listing.category %}
			Category: {{ listing.category }}
		{% else %}
			No category listed
		{% endif %}
	</li>
	<li>Time Created: {{ listing.time_created }} GMT</li>
</ul>
<br>
<br>
<h5>Actions:</h5>
<ul>
	{% if owner.user == user and listing.active %}
		<li><a href="{% url 'close_listing' listing.id %}" class="btn btn-primary">
			Close this auction
		</a></li>
	{% endif %}
	{% if user.is_authenticated and listing.active %}
		<li><a class="btn btn-primary" href="{% url 'add_to_watchlist' listing.id %}">
			{% if watchlist_bool %}
				Remove Item from Watchlist!
			{% else %}
				Add Item to Watchlist!
			{% endif %}
		</a></li>
	{% elif not user.is_authenticated %}
		<li><a href="{% url 'login' %}">Sign in</a> to add this item to watchlist, place bids, add comments, etc.</li>
	{% endif %}
	
</ul>
<br>

{% if user.is_authenticated and listing.active %}
	
	
	Place a bid <span style="font-size:15px;">(There are {{ number_of_bids }} bids)</span>.
	{% if user == max_bid_user %}
		You have the highest bid.
	{% endif %}
	
	<form method="post" action="{% url 'bid' listing.id%}">
		{% csrf_token %}
		{{ new_bid_form }}
		{% if error_message %}
			<strong>{{ error_message}}</strong>
		{% endif %}
		<br>
		<input type="submit" class="submit">
	</form>
	
	
{% endif %}

<br>
<br>
<h3>Comments</h3>
{% if not listing.active %}
	<b>The listing is closed. You cannot add any more comments.</b>
{% endif %}
{% for comment in comments %}
	<div class="comment">
		<p>{{ comment.comment }}</p>
		by <strong>{{ comment.user }}</strong>
	</div>
	<br>
{% endfor %}

{% if user.is_authenticated and listing.active %}
	Put your comment here:
	<form method="post" action="{% url 'comment' listing.id%}">
		{% csrf_token %}
		{{ new_comment_form }}

		<br>
		<input type="submit" class="submit">
	</form>
{% endif %}



{% endblock %}

